/* generic stylings */
body{
    width: 1000px;
    margin-left: 10px auto;
    padding: 0 0 0 100px;
    background-color: #4c4575;
}

.background{
   background-color: #cac0c8;
   width: 1600px;
  padding-bottom: 180px;
   
}

h1{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 48px;  
    text-transform: uppercase;
}

h2{
    margin-top: 5%;
    margin-left: 18%;
    text-transform: uppercase;
}

hr{
    border-color: #8febd5;
    border-width: 2px;
}


p[class="opening"]{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

p[id="description"]{
    margin-left: 15%;
    
}


footer{
    padding-top: 0px;
    margin-bottom: 30px;
}
/*End of generic styling*/


/* Styling for any links on the page*/

p[id="github"]{
    background-color: #4c4575;
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
   border-radius: 10px;
   margin-left: 5px;
}

a{ text-decoration: none; }

a:link{ color: blue; } 

a:hover{ color: grey; }

a:active{ color: green; } 

a:visited{ color:lightcoral; }

a[id="email"]{
    color:blue;
}


/*End of link styling */



/* styles for tables, seperated into classes for each distinct table*/

table{
    height: 300px;
    width: 25%;
    background-color: black;
    box-shadow: -5px 5px 7px #4c4575;
    border-radius: 20px;
    margin-left: 10%;
    clear: both;
    min-width: 10%;
    
}

th{
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    padding: 5px;
    border-collapse: collapse;
    background-color: #4c4575;
    
}
th[class="top-left"]{border-top-left-radius: 20px;}

th[class="top-right"]{border-top-right-radius: 20px;}

th>p{
    padding-top: 0px;
    margin: 0px;
    height: 20px;
    color: #b6acb4;
    text-transform: uppercase;
    border-spacing: 0;
}

td{
    border-style: solid;
    border-width: 0.5px 0px;
  
}

td>p{
    height: 20px;
    width: 130px;
    padding: 0;
    color: #b6acb4;
  border-spacing: 0;
  text-align: center;
}
.date{
    text-align: right;
    padding-right: 3px;
}

td[class="bottom-left"]{border-bottom-left-radius: 20px;}

td[class="bottom-right"]{border-bottom-right-radius: 20px;}

.even{ background-color: #4c4575;}

.odd{background-color: #2b2741;}
/* end of table styles*/


/* start of skill styles*/

h2[id="skills"]{
margin-left: 1150px;
position: relative;
bottom: 475px;

}

ul[id="skill-list"]{
   
    float: right;
    position: absolute;
    height: 500px;
    padding-right: 200px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-left: 50%;
    min-width: 600px;
    width: 600px;
    overflow: hidden;
    bottom: 1px;
        
}

div[id="bank-project"]{ margin: 5px 0px;}


/* end of skill styles*/

/* optimisation styling for smaller screens */

@media screen and (max-width: 1350px) {
    ul[id="skill-list"] {
      float: none;
      position: static;
      margin-left: 0;
      width: 80%;
    }
    table {
      width: 100%;
      margin-left: 30px;
    }
  }

